<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <mat-form-field class="col" validationContainer>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error validationTarget />
    </mat-form-field>

    <mat-form-field class="col" validationContainer>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error validationTarget />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col" validationContainer>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error validationTarget />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>